.name {
    text-align:center;  
    color: white;
    background:  black ;
    padding-right:4px;
}
h2 {
    color:white;
    background:black  ;
    padding-right:4px;
}
h3 {
    color:white;
    background-color: black;
    border:5px  grey ;
    padding-right:4px;
}
h3{
    color:white;
    border:5px  grey ;
    padding-right:4px;
}
.image {
    height:100% ;
    width:100% ;
    padding-right:4px;
}
.img {
    height:50px;
    width:80x;
    border:5px gray;
    text-align:center;
    padding-right:4px;
}
